/* Start  Text Fir Vid Resbonsive */
/* Mobile */

@media (max-width: 767px) {

    .PBoxSale{
        font-size: 37px;
}
    .FirTxSale{
        font-size: 37px;
}
}

/* Small Screens */

@media (min-width: 768px) and (max-width: 991px) {

    .PBoxSale{
        font-size: 37px;
}
    .FirTxSale{
        font-size: 55px;
}
}

/* End  Text Fir Vid Resbonsive */

/* Start  BoxesListCover Resbonsive */
/* Mobile */

@media (max-width: 767px) {
    .BigBoxList{
        width: 305px;
        position: absolute;
            left: 16%;
    }
}

/* Small Screens */

@media (min-width: 768px) and (max-width: 991px) {

}

/* End  BoxesListCover Resbonsive */
/* Start  Text Nav Resbonsive */
/* Mobile */

@media (max-width: 767px) {
    .TexMe{
        display: none
    }
    .ActiveClass{
        display: none
    }
    .BoxFlotRaigh {
        position: absolute;
        right: -80px;
    }
    .Logo{
        margin: -8px 34px 0 35px;
    }
}

/* End  Text Nav Resbonsive */

/* Start  Text Asied Resbonsive */
/* Mobile */

@media (max-width: 767px) {
    .ToggleAssideIco{
        display: block;
        font-size: 24px;
    position: absolute;
    top: 0;
    left: 10px;
    color: black;
}
} 

/* End  Text Asied Resbonsive */
/* Start  Text Photo Left AND right Resbonsive */
/* Mobile */

/* Small Screens */

@media  (max-width:1000px) {
    .PhoLeft{
        width: 198%;
    }
    .BoxLeft{
        float: none;
        width: 49%;
        margin: 4px;
        height: 744px;
        display: block;
    }
    .BoxRaght{
        display: none;
    }
}

/* End  Text Photo Left AND right Resbonsive */
/* Start  ScoNavNew Resbonsive */
/* Mobile */

@media (max-width: 767px) {
    .SixesProNews{
        display: none;
    }
    .UlScoNavNew{
        display: none;
    }
    .TextCardPro {
        position: relative;
        top: -14px;

    }
}

/* End  ScoNavNew Resbonsive */
/* Start  cart Resbonsive */
/* Mobile */

@media (max-width: 767px) {
    .Ico{
        position: fixed;
        /* left: 382px; */
    }
    .Cart{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    .InpuNav{
        right: 88px;
    }
    .ProoInCart{
        position: fixed;
        right: 460px;
    }
}

/* End  cart Resbonsive */
/* Start  Content Resbonsive */
/* Mobile */

@media (max-width: 767px) {
    .ImgDetil{
        width: 50%;
        height: 46%;
        position: absolute;
        left: 0;
        top: 65px;
    }
    .LiCardViews{
        min-width: 2.5rem;
    }
    .Avli{
        width: 40px ;
    }
    .UlCardPro {
        position: relative;
        left: -87px;
    }
    .AddCartBtneDetil {
        width: 149px;
        margin: 0;
    }
    .ImgScoConta{
        width: calc(100% / 2 - 9px);
    }
    .DisplayNonDetilsMop{
        display: none;
    }
    .IcoSrollMopile{
        display: block;
    }
    .NameDetil{
        font-size: 25px;
    }
}

/* End  Content Resbonsive */



/* Media queries for responsiveness */

@media only screen and (max-width: 1200px) {
    /* Adjustments for screens up to 1200px wide */
    .BoxLeft,
    .BoxRaght {
      width: 48%;
    }
  }
  
  @media only screen and (max-width: 992px) {
    /* Adjustments for screens up to 992px wide */
    .BoxLeft,
    .BoxRaght {
      width: 47%;
    }
  }
  
  @media only screen and (max-width: 768px) {
    /* Adjustments for screens up to 768px wide */
    .BigBoxList {
      left: 10%;
    }
    .BoxLeft,
    .BoxRaght {
      width: 46%;
    }
    .CardProNew{
      width: calc(100% / 2 - 4px);
    }
  }
  
  /* Add more media queries as needed for smaller screen sizes */
  